<% var data = {
  title: "Екскурсії"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<div class="title-exc">
  <div style="color: white;" class="title-text">Екскурсії</div>
  <div class="title-exc-main-background" style="background-image: url(images/excursion.jfif);"></div>
</div>
<div class="main-exc">
  <div class="sub-div1, basic-exc">
  <p class="subtitle">Театралізовані екскурсії</p>
  </div>
  <div class="basic-exc">

    <!-- /////////////////////////////// -->
    <div class="basic-placeholder">
      <div class="photo-holder">
        <img class="photo-exc" src="images/activity-excursion.jfif" alt="">
      </div>
      <div class="text-box">
        <p class="text-holder">Таємниці дрогобицької ратуші</p>
      </div>
        <div class="buttons">
          <div class="buy">
              <a href="activity-excursion.html" class="buy-text">Замовити</a>
          </div>
          <div class="like">
            <img class="like-img"src="images/like.png" alt="">
          </div>
          <div class="share">
            <img class="share-img" src="images/share2.png" alt="">
          </div>
        </div>
    </div>
    <!-- /////////////////////////////// -->
    <div class="basic-placeholder">
      <div class="photo-holder">
        <img class="photo-exc" src="images/oneAndHalf.jfif" alt="">
      </div>
      <div class="text-box">
        <p class="text-holder">Півтора міста</p>
      </div>
        <div class="buttons">
          <div class="buy">
              <a href="activity-excursion.html" class="buy-text">Замовити</a>
          </div>
          <div class="like">
            <img class="like-img"src="images/like.png" alt="">
          </div>
          <div class="share">
            <img class="share-img" src="images/share2.png" alt="">
          </div>
        </div>
    </div>
    <!-- /////////////////////////////// -->

  </div>
  <div class="sub-div2, basic-exc">
  <p class="subtitle">Загальні екскурсії</p>
  </div>
  <div class="basic-exc">
      <!-- /////////////////////////////// -->
        <div class="basic-placeholder">
          <div class="photo-holder">
            <img class="photo-exc" src="images/up.jfif" alt="">
          </div>
          <div class="text-box">
            <p class="text-holder">Підйом на вежу ратуші</p>
          </div>
          <div class="buttons">
            <div class="buy">
              <a href="activity-excursion.html" class="buy-text">Замовити</a>
            </div>
            <div class="like">
              <img class="like-img" src="images/like.png" alt="">
            </div>
            <div class="share">
              <img class="share-img" src="images/share2.png" alt="">
            </div>
          </div>
        </div>
        <!-- /////////////////////////////// -->
        <div class="basic-placeholder">
          <div class="photo-holder">
            <img class="photo-exc" src="images/BrunoShultsPlace.jfif" alt="">
          </div>
          <div class="text-box">
            <p class="text-holder">Місцями Бруно Шульца</p>
          </div>
          <div class="buttons">
            <div class="buy">
              <a href="activity-excursion.html" class="buy-text">Замовити</a>
            </div>
            <div class="like">
              <img class="like-img" src="images/like.png" alt="">
            </div>
            <div class="share">
              <img class="share-img" src="images/share2.png" alt="">
            </div>
          </div>
        </div>
        <!-- /////////////////////////////// -->
        <!-- /////////////////////////////// -->
        <div class="basic-placeholder">
          <div class="photo-holder">
            <img class="photo-exc" src="images/IvanFrankoPlace.jfif" alt="">
          </div>
          <div class="text-box">
            <p class="text-holder">Шляхами Івана Франка</p>
          </div>
          <div class="buttons">
            <div class="buy">
              <a href="activity-excursion.html" class="buy-text">Замовити</a>
            </div>
            <div class="like">
              <img class="like-img" src="images/like.png" alt="">
            </div>
            <div class="share">
              <img class="share-img" src="images/share2.png" alt="">
            </div>
          </div>
        </div>
        <div class="basic-placeholder">
          <div class="photo-holder">
            <img class="photo-exc" src="images/cityExcursion.jfif" alt="">
          </div>
          <div class="text-box">
            <p class="text-holder">Загальна екскурсія містом</p>
          </div>
          <div class="buttons">
            <div class="buy">
              <a href="activity-excursion.html" class="buy-text">Замовити</a>
            </div>
            <div class="like">
              <img class="like-img" src="images/like.png" alt="">
            </div>
            <div class="share">
              <img class="share-img" src="images/share2.png" alt="">
            </div>
          </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html'))(data) %>
