<% var data = {
  title: "Їжа"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<div class="title-exc">
      <div class="title-text">Їжа</div>
    </div>
    <div class="main-exc">
      <div class="description-text basic-exc-min">
        <!-- basic-exc-min -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="basic-exc-food">
          <!-- /////////////////////////////// -->
            <div class="basic-placeholder">
              <div class="photo-holder">
                <img class="photo-exc" src="https://via.placeholder.com/340x280" alt="">
              </div>
              <div class="text-box">
                <p class="text-holder">Риба в соляному панцері</p>
              </div>
              <div class="buttons">
                <div class="buy">
                  <a href="place.html" class="buy-text">Прокласти маршрут</a>
                </div>
                <div class="like">
                  <img class="like-img" src="images/like.png" alt="">
                </div>
                <div class="share">
                  <img class="share-img" src="images/share2.png" alt="">
                </div>
              </div>
            </div>
            <!-- /////////////////////////////// -->
            <div class="basic-placeholder">
              <div class="photo-holder">
                <img class="photo-exc" src="https://via.placeholder.com/340x280" alt="">
              </div>
              <div class="text-box">
                <p class="text-holder">Кава з сіллю і солений торт</p>
              </div>
              <div class="buttons">
                <div class="buy">
                  <a href="place.html" class="buy-text">Прокласти маршрут</a>
                </div>
                <div class="like">
                  <img class="like-img" src="images/like.png" alt="">
                </div>
                <div class="share">
                  <img class="share-img" src="images/share2.png" alt="">
                </div>
              </div>
            </div>
            <!-- /////////////////////////////// -->
            <!-- /////////////////////////////// -->
            <div class="basic-placeholder">
              <div class="photo-holder">
                <img class="photo-exc" src="https://via.placeholder.com/340x280" alt="">
              </div>
              <div class="text-box">
                <p class="text-holder">Цісарський дерун</p>
              </div>
              <div class="buttons">
                <div class="buy">
                  <a href="place.html" class="buy-text">Прокласти маршрут</a>
                </div>
                <div class="like">
                  <img class="like-img" src="images/like.png" alt="">
                </div>
                <div class="share">
                  <img class="share-img" src="images/share2.png" alt="">
                </div>
              </div>
            </div>
            <div class="basic-placeholder">
              <div class="photo-holder">
                <img class="photo-exc" src="https://via.placeholder.com/340x280" alt="">
              </div>
              <div class="text-box">
                <p class="text-holder">Риба в соляному панцері</p>
              </div>
              <div class="buttons">
                <div class="buy">
                  <a href="place.html" class="buy-text">Прокласти маршрут</a>
                </div>
                <div class="like">
                  <img class="like-img" src="images/like.png" alt="">
                </div>
                <div class="share">
                  <img class="share-img" src="images/share2.png" alt="">
                </div>
              </div>
            </div>
            <div class="basic-placeholder">
              <div class="photo-holder">
                <img class="photo-exc" src="https://via.placeholder.com/340x280" alt="">
              </div>
              <div class="text-box">
                <p class="text-holder">Кава з сіллю і солений торт</p>
              </div>
              <div class="buttons">
                <div class="buy">
                  <a href="place.html" class="buy-text">Прокласти маршрут</a>
                </div>
                <div class="like">
                  <img class="like-img" src="images/like.png" alt="">
                </div>
                <div class="share">
                  <img class="share-img" src="images/share2.png" alt="">
                </div>
              </div>
            </div>
            <div class="basic-placeholder">
              <div class="photo-holder">
                <img class="photo-exc" src="https://via.placeholder.com/340x280" alt="">
              </div>
              <div class="text-box">
                <p class="text-holder">Цісарський дерун</p>
              </div>
              <div class="buttons">
                <div class="buy">
                  <a href="place.html" class="buy-text">Прокласти маршрут</a>
                </div>
                <div class="like">
                  <img class="like-img" src="images/like.png" alt="">
                </div>
                <div class="share">
                  <img class="share-img" src="images/share2.png" alt="">
                </div>
              </div>
            </div>
        </div>
    </div>


<%= _.template(require('./../includes/footer.html'))(data) %>
