<% var data = {
  title: "Локації"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<div class="title-exc" style="background-color: white; border: 1px solid #D6D6D6;" >
      <div class="title-text">Особливі локації</div>
    </div>
    <div class="main-exc" style="border-bottom: 1px solid #D6D6D6;">
      <div class="gallery-loc">
        <div class="grid-gallery-first">
          <img style="width: 100%; height: 710px; grid-column-start: 1; grid-row-start: row1-start; grid-row-end: 1;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 2; grid-row-start: row1-start; grid-row-end: 1; justify-self: end;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 2; grid-row-start: row2-start; grid-row-end: 2; justify-self: end;" src="images/activity-excursion.jfif" alt="">
        </div>
        <div class="grid-gallery-second">

          <img style="width: 100%; height: 345px; grid-column-start: 1; grid-row-start: row1-start; grid-row-end: 1;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 1; grid-row-start: row2-start; grid-row-end: 2;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 710px; grid-column-start: 2; grid-row-start: row1-start; grid-row-end: 1; justify-self: end;" src="images/activity-excursion.jfif" alt="">
        </div>
        <div class="grid-gallery-third">
          <img style="width: 100%; height: 345px; grid-column-start: 1; object-fit: cover" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 2; justify-self: end;" src="images/activity-excursion.jfif" alt="">
        </div>
        <div class="grid-gallery-fourth">
          <img style="width: 100%; height: 345px; grid-column-start: 1; justify-self: end;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 2; object-fit: cover" src="images/activity-excursion.jfif" alt="">
        </div>
        <div class="grid-gallery-fifth">
          <img style="width: 100%; height: 710px; grid-column-start: 1; grid-column-end: 4; grid-row-start: row1-start; grid-row-end: 1;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 1; grid-row-start: row2-start; grid-row-end: 2;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 2; grid-row-start: row2-start; grid-row-end: 2;" src="images/activity-excursion.jfif" alt="">
          <img style="width: 100%; height: 345px; grid-column-start: 3; grid-row-start: row2-start; grid-row-end: 2;" src="images/activity-excursion.jfif" alt="">
        </div>
      </div>
    </div>


<%= _.template(require('./../includes/footer.html'))(data) %>
