<% var data = {
  title: "Сувеніри"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="title-exc">
  <div class="title-text">Сувеніри</div>
</div>
<div class="main-exc">
  <div class="gallery">
    <div class="photo-gallery">
    <a data-fancybox="gallery" href="https://via.placeholder.com/600">
      <img class="div-gal" src="https://via.placeholder.com/200" alt="">
    </a>
    <a href="buy-product.html" class="product-name">Футболка</a>
    <p class="product-cost">200 грн</p>
    </div>

    <div class="photo-gallery">
      <a data-fancybox="gallery" href="https://via.placeholder.com/600">
        <img class="div-gal" src="https://via.placeholder.com/200" alt="">
      </a>
    <a href="buy-product.html" class="product-name">Футболка</a>
    <p class="product-cost">200 грн</p>
    </div>

    <div class="photo-gallery">
      <a data-fancybox="gallery" href="https://via.placeholder.com/600">
        <img class="div-gal" src="https://via.placeholder.com/200" alt="">
      </a>
    <a href="buy-product.html" class="product-name">Футболка</a>
    <p class="product-cost">200 грн</p>
    </div>

    <div class="photo-gallery">
      <a data-fancybox="gallery" href="https://via.placeholder.com/600">
        <img class="div-gal" src="https://via.placeholder.com/200" alt="">
      </a>
    <a href="buy-product.html" class="product-name">Футболка</a>
    <p class="product-cost">200 грн</p>
    </div>

    <div class="photo-gallery">
      <a data-fancybox="gallery" href="https://via.placeholder.com/600">
        <img class="div-gal" src="https://via.placeholder.com/200" alt="">
      </a>
    <a href="buy-product.html" class="product-name">Футболка</a>
    <p class="product-cost">200 грн</p>
    </div>

    <div class="photo-gallery">
      <a data-fancybox="gallery" href="https://via.placeholder.com/600">
        <img class="div-gal" src="https://via.placeholder.com/200" alt="">
      </a>
  <a href="buy-product.html" class="product-name">Футболка</a>
    <p class="product-cost">200 грн</p>
    </div>

  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
