<% var data = {
  title: "Сувеніри"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="title-exc">
  <div style="color: white;" class="title-text">Сувеніри</div>
  <div class="title-exc-main-background" style="background-image: url(images/souvenirs.png);"></div>
</div>
<div class="main-exc">

  <div class="description-text basic-exc-food" style="margin-top: 50px; margin-bottom: 50px;">
    <!-- basic-exc-min -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="gallery" style="width: 820px;">
    <div class="photo-gallery" style="width: 250px;">
      <a href="buy-product.html">
        <img class="photo-exc" src="images/garlic.png" alt="">
      </a>
      <a href="buy-product.html" class="product-name-souvenir">Дрогобицька сіль з часником та петрушкою</a>
      <div class="product-cost-souvenir">200 грн</div>
    </div>

    <div class="photo-gallery" style="width: 250px;">
      <a href="buy-product.html">
        <img class="photo-exc" src="images/pepper.png" alt="">
      </a>
      <a href="buy-product.html" class="product-name-souvenir">Дрогобицька сіль з перцем</a>
      <div class="product-cost-souvenir">200 грн</div>
    </div>

    <div class="photo-gallery" style="width: 250px;">
      <a href="buy-product.html">
        <img class="photo-exc" src="images/t-shirt.jfif" alt="">
      </a>
      <a href="buy-product.html" class="product-name-souvenir">То не Львів, то Дрогобич</a>
      <div class="product-cost-souvenir">200 грн</div>
    </div>

    <div class="photo-gallery" style="width: 250px;">
      <a href="buy-product.html">
        <img class="photo-exc" src="images/cup1.jfif" alt="">
      </a>
      <a href="buy-product.html" class="product-name-souvenir">Чашка Патерн 1</a>
      <div class="product-cost-souvenir">200 грн</div>
    </div>

    <div class="photo-gallery" style="width: 250px;">
      <a href="buy-product.html">
        <img class="photo-exc" src="images/cup2.jfif" alt="">
      </a>
      <a href="buy-product.html" class="product-name-souvenir">Чашка Хоральна Синагога</a>
      <div class="product-cost-souvenir">200 грн</div>
    </div>

    <div class="photo-gallery" style="width: 250px;">
      <a href="buy-product.html">
        <img class="photo-exc" src="images/cup3.jfif" alt="">
      </a>
      <a href="buy-product.html" class="product-name-souvenir">Чашка Патерн 2</a>
      <div class="product-cost-souvenir">200 грн</div>
    </div>

  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
