<% var data = {
  title: "Тематичні карти"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="title-exc">
      <div class="title-text">Тематичні карти</div>
    </div>
    <div class="main-exc">
      <div class="photo-holder-loc">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41583.8947029554!2d23.475352054856078!3d49.35227312205965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473a4ea312a96935%3A0x9a7037350ab28ee5!2z0JTRgNC-0LPQvtCx0YvRhywg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1576351512521!5m2!1sru!2sua" width="80%" height="300" frameborder="0" style="border:0; display:block; margin-left: auto; margin-right: auto; margin-top: 20px;" allowfullscreen=""></iframe>
        <p class="product-name" style="text-align: center">Google-карта</p>
      </div>
      <div class="gallery-st">
        <div class="photo-gallery-st">
          <a data-fancybox="gallery" href="images\lv_map_uk.png">
            <img class="div-gal-st" src="images\lv_map_uk.png" alt="">
          </a>
        <p class="product-name">Карта регіону</p>
        </div>

        <div class="photo-gallery-st">
          <a data-fancybox="gallery" href="images\Drogobych-tem-map.jpg">
            <img class="div-gal-st" src="images\Drogobych-tem-map.jpg" alt="">
          </a>
        <p class="product-name">Карта Дрогобича 1:12 000</p>
        </div>

      </div>
    </div>

<%= _.template(require('./../includes/footer.html'))(data) %>
